<div class="">

<h1> All Teams </h1>

<ul>
    <% @teams.each do |team| %>
        <li> <%= link_to team.name, team %> </li><br>
    <% end %>
</ul>

<%= button_to "Create Your Team Here!", {:controller => :teams,
  :action => 'new'}, {:method => :get, class: "button"} %>


</div>
<%= image_tag "https://cdn.vox-cdn.com/thumbor/qQpvS-GQ4jG1xbWQ7XW_ByL0Xpg=/0x0:4720x2500/920x613/filters:focal(1983x873:2737x1627):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/56481507/MRKB_Posing_FullTeam_E3_170612_215pm_1497264698.0.png", width: '50%', class: 'bottom-right-thumb'%>
