<h1> All Teams </h1>

<ul>
    <% @teams.each do |team| %>
        <li> <%= link_to team.name, team %> </li><br>
    <% end %>
</ul>

<%= button_to "Create Your Team Here!", {:controller => :teams,
  :action => 'new'}, {:method => :get, class: "button"} %>
