
<h1> Create Your Team! </h1>

<form class="" action="/teams" method="post">
  <%= render 'form' %>
  <input type="submit" name="" value="Create Team" class="button">
</form>

<%= button_to "Back To All Teams", {:controller => :teams, :action => 'index'}, {:method => :get, class: "button"} %>

<%= render "errors" %>
