
<h1> Team <%= @team.name %> </h1>

<h2>Players:</h2>
<ul>
    <% @team.players.each do |player| %>
        <li class="team-player"> <%= link_to player.name, player_path(player.id) %>
        <br> <%= link_to (image_tag player.img_url, height:"300px"), player if player.img_url %></li>
    <% end %>
</ul>

<%= button_to "Edit Team", {:controller => :teams,
  :action => 'edit', :id => @team.id}, {:method => :get, class: "button clear-left"} if admin or on_team%>
