
<h1> Team <%= @team.name %> </h1>

Players:
<ul>
    <% @team.players.each do |player| %>
        <li> <%= link_to player.name, player_path(player.id) %> </li>
    <% end %>
</ul>

<%= button_to "Edit Team", {:controller => :teams,
  :action => 'edit', :id => @team.id}, {:method => :get, class: "button"} %>
