<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label for="">Email: </label>
  <input name=email> <br>
  <label for="">Password: </label>
  <input type="password" name="password" value=""> <br>
  <input type=submit value='login'>
<% end %>
