<h1>Analytics</h1>
<p>Number of Teams: </p>
<p>Number of Players: </p>
<p>Number of Tournaments: </p>
<p>Number of Venues: </p>
<p>Average Age: </p>
<p>Average Time Playing: </p>
<p>Most Popular Tournament: </p>
<p>Most Popular Venue: </p>
<p>Most Prolific Team: </p>
