<h1>Create Tournament</h1>
<%= render 'form' %>
<%= render 'errors' %>
<%= button_to "Delete Tournament", {:controller => :tournaments,
  :action => 'destroy', :id => @tournament.id}, {:method => :delete,
  data: {confirm: "This will delete the tournament and all entries. Are you sure?"}, class: "button"} %>
