<h1>Tournaments</h1>
<ul>
<% @tournaments.each do |tournament| %>
<li><%= tournament.date %> - <%= link_to tournament.name, tournament %> at <%= link_to tournament.venue.name, tournament.venue %></li>
<% end %>
</ul>

<%= button_to "New Tournament", {:controller => :tournaments,
  :action => 'new',}, :method => :get %>
