<h1>Edit Venue</h1>

<%= render "form" %>

<%= button_to "Delete Venue", {:controller => :venues,
  :action => 'destroy', :id => @venue.id}, {:method => :delete, class: 'button',
  data: {confirm: "This will delete the venue. Are you sure?"}} if logged_in%>

<%= render 'errors' %>
