<h1>Venues</h1>
<ul>
<% @venues.each do |venue| %>
<li><%= link_to venue.name, venue %></li>
<% end %>
</ul>

<%= button_to "Add Venue", {:controller => :venues,
  :action => 'new',}, :method => :get if logged_in %>
