<h1> All Players </h1>

<div class="players-index">
<% @players.each do |player| %>
  <div class="player"><%= image_tag "#{player.img_url}", height: '50' %> <span class="player-font"><%= link_to player.name, player %></span></div>
<% end %>

</div>
