
body {
  color: #5f5f5f;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

body a {
  color: #5f5f5f;
  text-decoration: none;
}

body a:hover {
  font-style: italic;
  font-weight: 500;
}

h1 {
  margin-left: 20px;
}

table {
  color: white;
  background-image: linear-gradient(#ff2222, #e60113);
  width: 100%;
  padding: 100;
  position: fixed;
  top: 0;
}
th a {
  color: white;
  display: block;
  font-weight: 100;
  padding: 10px 0px;
  text-decoration: none;
}

th a:hover {
  background-image: linear-gradient(#f5f5f5, #dbdbdb);
  color: #333;
}

.spacer
{
    width: 100%;
    height: 50px;
}
