<<<<<<< HEAD
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
    font-size: 20px;
}

body {
    text-align: ; 
}

/*********************** LOGIN STYLE  **************************/
.login {
    height: 200px;
    width: 400px;
    position: center;
    background-image: url(https://i.kinja-img.com/gawker-media/image/upload/s--5fSOe0hN--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/18he4twayfxh9jpg.jpg);
    background-position: center;
=======

body {
  color: #5f5f5f;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

body a {
  color: #5f5f5f;
  text-decoration: none;
}

body a:hover {
  font-style: italic;
  font-weight: 500;
}

h1 {
  margin-left: 20px;
}

table {
  color: white;
  background-image: linear-gradient(#ff2222, #e60113);
  width: 100%;
  padding: 100;
  /* position: fixed; */
  top: 0;
}
th a {
  color: white;
  display: block;
  font-weight: 100;
  padding: 10px 0px;
  text-decoration: none;
}

th a:hover {
  background-image: linear-gradient(#f5f5f5, #dbdbdb);
  color: #333;
>>>>>>> 6ccd5bbc553a0b9a8409a0688302ab020cb757af
}
