body {
  color: #5f5f5f;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

p, h1, h2, h3 {
  margin-left: 7%;
}


body a {
  color: #5f5f5f;
  text-decoration: none;
  /* margin-left: 7%; */
}

body a:hover {
  font-style: italic;
  font-weight: 500;
}

h1, h2 {
  color: #777
}

.ribbon {
  color: white;
  background-image: linear-gradient(#ff2222, #e60113);
  width: 100%;
  position: fixed;
  top: 0;
}
th a {
  color: white;
  display: block;
  font-weight: 100;
  padding: 10px 0px;
  text-decoration: none;
}

th a:hover {
  background-image: linear-gradient(#f5f5f5, #dbdbdb);
  color: #333;
  border-radius: 20px;
}

th a:active {
  background-color: #fff;
}

.spacer
{
    width: 100%;
    height: 50px;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  background-image: linear-gradient(#8c8a8a, #777, #8c8a8a, #8c8a8a);
  width: 100%;
  padding: 30px 0px;
}

li {
  list-style: none;
  margin-left: 5%;
}

html, body {
    margin: 0;
    padding: 0;
    /* background-image: url("https://orig12.deviantart.net/8498/f/2009/056/9/5/conical_light_by_cope57.png"); */
    background-size: 1500px 750px;
    display: inline;
}

.button {
  border-radius: 20px;
  color: #333;
  background-image: linear-gradient(#f0f0f0, #E5E1DE, #f0f0f0);
  padding: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 12px;
  margin-left: 7%;
}

.button:hover {
  background-image: linear-gradient(#f0f0f0, #E5E1DE, #ddd);
}

.right_img {
  position: fixed;
  top: 100px;
  right: 7%;
  z-index: -1;
  clear: left;
  mix-blend-mode: multiply;
}

.players-table {
  position: absolute;
  top: 150px;
  margin-left: 7%
}

td {
  padding: 3%;
  width: 200px
}

.left-img {
  position: absolute;
  left: 5%;
  top: 120px;
}

.right-txt {
  position: absolute;
  left: 55%;
  width: 45%;
}

.bottom-right-img {
  position: absolute;
  right: 0;
  bottom: 45px;
}

.bottom-right-thumb {
  position: absolute;
  right: 0;
  top: 10%;
}

label {
  position: absolute;
  left: 9%;
}

input[type="text"], input[type="date"], input[type="email"],
input[type="password"], input[name="email"], select {
  position: absolute;
  left: 21%;
  display: inline-block;
}

.login {
  text-align: center;
}

.login-pic {
  opacity: 0.3;
  position: absolute;
  top: 45px;
  z-index: -1;
}

